.notification.success {
  color: green;
  background: lightgreen;
}
.notification.error {
  color: red;
  background: lightgrey;
}

.notification {
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  background-color: lightgreen;
}

.extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

td {
    text-align: center;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: beige;
    padding: 4px;
    margin: 6px;
}

body {
    margin: 6px;
}

a {
    padding: 3px;
}

.commentContainer {
    margin-left: 16px;
}