h1 {
  color: green;
  font-style: italic;
}

li {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.success {
  color: green;
  font-weight: bold;
  font-size: 24px;
  border: solid 2px green;
  padding: 3px;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(75, 169, 75, 0.54);
}

.error {
  font-weight: bold;
  font-size: 24px;
  border: solid 2px #800b00;
  padding: 3px;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(236, 15, 15, 0.34);
}